<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>647262493650-cofl1hmje2rrghj9b9imjl5o0ojvmr4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647262493650-cofl1hmje2rrghj9b9imjl5o0ojvmr4a</string>
	<key>API_KEY</key>
	<string>AIzaSyDYFNDCjbnCxcvalgg3Han2jVA3Oyasa5I</string>
	<key>GCM_SENDER_ID</key>
	<string>647262493650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AudioStream</string>
	<key>PROJECT_ID</key>
	<string>audiostream-29f32</string>
	<key>STORAGE_BUCKET</key>
	<string>audiostream-29f32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:647262493650:ios:1ce3d4053f3587e8</string>
	<key>DATABASE_URL</key>
	<string>https://audiostream-29f32.firebaseio.com</string>
</dict>
</plist>